//Specify input directories for reads & reference sequence, name of reference sequence as well as output directory

params {
    refdir = "/path/to/RefDir/"
    refname = "RefSeq.fna.gz"
    refprefix ="RefSeqPrefix"
    read_pairs = "path/to/*_{R1,R2}.fastq.gz"
    merged_reads = "path/to/*_U.fastq.gz"
    outdir = "/path/to/outdir"

}

profiles {

    standard {
        process.executor = 'local'
        process.conda = './environment.yml'
    }

    custom {
        includeConfig 'config/profile.config'
    }
}
