//Specify input directories for reads & reference sequence, name of reference sequence as well as output directory

params {
    refdir = "/crex/proj/melidectes_storage_21-03/melidectes/data/raw_external/CorvusRef/"
    refname = "GCF_000738735.5_ASM73873v5_genomic.fna.gz"
    reads = "/crex/proj/melidectes_storage_21-03/melidectes/data/meta/test/**_{R1,R2,U}.fastq.gz"
    outdir = "/crex/proj/melidectes_storage_21-03/melidectes/data/meta/test/results/"

}

profiles {

    standard {
        process.executor = 'local'
    }

    custom {
        includeConfig 'config/profile.config'
    }
}
