//Specify input directories for reads & reference sequence, name of reference sequence as well as output directory

params {

    //Main parameters (see README)
    refdir = "/path/to/RefDir/"
    refname = "RefSeq.fna.gz"
    refprefix ="RefSeqPrefix"
    read_pairs = "path/to/*_{R1,R2}.fastq.gz"
    merged_reads = "path/to/*_U.fastq.gz"
    outdir = "/path/to/outdir"

    //Workflow paramters
    //Specify whether only unpaired (Unp), only merged (Mrg) or both reads should be used for mapping
    inclUnpRds = true
    inclMrgRds = true

    //System parameters
    //Specify whether your server uses an X11 system
    X11 = false

    //Specify whether a full .html report or only a simpler .txt summary should be printed for QC
    fullreport = true
}

profiles {

    //standard profile which will execute the workflow locally
    standard {
        process.executor = 'local'
        process.conda = './environment.yml'
        process.errorStrategy { task.exitStatus in [134, 137, 139, 140, 143] ? 'retry' : 'finish'}
        process.maxRetries 3
    }

    //custom profile which in its current shape is written to run on Uppmax' Rackham cluster
    custom {
        includeConfig 'config/profile.config'
        process.errorStrategy { task.exitStatus in [134, 137, 139, 140, 143] ? 'retry' : 'finish'}
        process.maxRetries 3
    }
}
