/*
 * -------------------------------------------------------------------------
 *  Nextflow config file for running nf-mapping workflow on Uppmax' Rackham
 * -------------------------------------------------------------------------
 *   Use as follows:
 *   nextflow run main.nf -profile custom
 */

params {
    config_profile_name = 'Uppmax rackham profile'
    config_profile_description = 'Profile that works with the rackham cluster on Uppmax'
    project = 'naiss20XX-XX-XXX'
    clusterOptions = null
    }
process {
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
    cpus = { 2 * task.attempt }
    memory = { 6.GB * task.attempt }
    time = { 4.h * task.attempt }
    conda = './environment.yml'

    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 140, 143, 247] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'

    withLabel: 'High_CPU' {
        cpus = { 6 * task.attempt }
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
    }

    withLabel: 'Endurance' {
        cpus = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        time = { 8.h * task.attempt }
    }

    withLabel: 'High_mem' {
        cpus = { 2 * task.attempt }
        memory = { 23.GB * task.attempt }
        time = { 4.h * task.attempt }
    }

   
}
