/*
 * -------------------------------------------------------------------------
 *  Nextflow config file for running nf-mapping workflow on Uppmax' Rackham
 * -------------------------------------------------------------------------
 *   Use as follows:
 *   nextflow run main.nf -profile custom
 */

params {
    config_profile_name = 'Uppmax rackham profile'
    config_profile_description = 'Profile that works with the rackham cluster on Uppmax'
    project = 'snic2021-22-202'
    clusterOptions = null
    }
process {
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
    cpus = 2
    memory = '8 GB'
    time = '4h'
    conda = './environment.yml'

    withLabel: 'High_RAM' {
        cpus = 8
        memory = '48 GB'
        time = '12h'
    }
   
}
